<!-- app.component.html -->

<div class="carousel-container">
  <div class="carousel-wrapper" [style.transform]="'translateX(' + (-currentSlide * cardWidth) + 'px)'">
    <div class="carousel-item" *ngFor="let item of carouselItems; let i = index">
      <div class="carousel-card" [class.active]="i === currentSlide">
        <div class="card-content">
          <img [src]="item.image" alt="{{ item.caption }}" />
          <div class="carousel-caption">
            {{ item.caption }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-arrows">
    <button (click)="prevSlide()" class="arrow-button prev">Previous</button>
    <button (click)="nextSlide()" class="arrow-button next">Next</button>
  </div>
</div>


<router-outlet></router-outlet>
